.flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.border {
    border: 2px solid green;
    margin: 2px;
}

.bg-black {
    background-color: black;
    color: white;

}

.bg-gray {
    background-color: #121212;
    color: white;
}
.rounded{
    border-radius: 7px;
}
.p-1{
    padding: 10px;
}
.invert{
    filter: invert(1);
}

